Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 88",
    "isort --profile black"
  ]
}

Update README.md
  README.md
Due: prettier --write

🔒 SECURITY: Remove hardcoded credentials and implement environment variables
  README-SECURITY.md
  docker-compose.yml
  env.example
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

Create deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: prettier --write

Remove generate-docs script and Python dependency from workflow
  packages/docs/.github/workflows/deploy-docs.yml
  packages/docs/package.json
Due: prettier --write

Remove conflicting docs.yml workflow that was trying to run generate-docs
  .github/workflows/docs.yml
Due: prettier --write

Update deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: prettier --write

Update GitHub Actions workflow for proper deployment
  .github/workflows/deploy-docs.yml
Due: prettier --write

Fix GitHub Actions cache dependency path issue
  .github/workflows/deploy-docs.yml
Due: prettier --write

Trigger GitHub Actions workflow for documentation deployment
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Fix GitHub Actions cache path to use root package-lock.json
  .github/workflows/deploy-docs.yml
Due: prettier --write

Trigger docs workflow: add comment to ensure GitHub Actions runs
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write
