Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

debug: Add comprehensive logging to deep file analysis E2E workflow
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black

fix: Prevent api_version from being passed as direct parameter to AsyncCompletions
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
Due: black --line-length 88, isort --profile black

fix: Prevent message loss from duplicate detection filtering out fallback responses
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
Due: black --line-length 88, isort --profile black

debug: Add better logging for analysis plan LLM failures
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black

fix: Normalize file data source schemas and fix indentation in user API
  packages/chat2chart/server/app/modules/ai/agents/nl2sql_agent.py
  packages/chat2chart/server/app/modules/user/api.py
Due: black --line-length 88, isort --profile black

refactor: Clarify file data source table naming strategy
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
Due: black --line-length 88, isort --profile black

feat: Support multi-file queries with file_id table naming
  packages/chat2chart/server/app/modules/ai/agents/nl2sql_agent.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
Due: black --line-length 88, isort --profile black

feat: Add file reference detection for multi-file queries
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
Due: black --line-length 88, isort --profile black

docs: Add comprehensive multi-file query support documentation
  MULTI_FILE_QUERY_SUPPORT.md
Due: prettier --write

fix: Add missing comma in api.py orchestrator.execute call
  packages/chat2chart/server/app/modules/ai/api.py
Due: black --line-length 88, isort --profile black

fix: Deep file analysis multiple errors and NoneType issues
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black

fix: Deep file analysis - unified_node decorator, DuckDB SQL, JSON serialization
  packages/chat2chart/server/app/modules/ai/api_streaming.py
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
Due: black --line-length 88, isort --profile black

Update CNAME
  CNAME
Due: none

docs: migrate domain to docs.aicser.com
  .github/workflows/deploy-docs.yml
  packages/docs/DEPLOYMENT.md
  packages/docs/DOCS_REVIEW_AND_IMPROVEMENTS.md
  packages/docs/DOMAIN_MIGRATION_INSTRUCTIONS.md
  packages/docs/MIGRATION_STATUS.md
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

fix: deploy docs to root to fix 404 error
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix: correct build path and add verification for docs deployment
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix: remove cache dependency, delete duplicate workflow, fix docs deployment
  .github/workflows/deploy-docs.yml
  packages/docs/.github/workflows/deploy-docs.yml
  packages/docs/CRITICAL_FIX_GITHUB_PAGES.md
  packages/docs/DEPLOYMENT_FIX.md
  packages/docs/DEPLOYMENT_FIXES_SUMMARY.md
  packages/docs/DOCS_REVIEW_AND_IMPROVEMENTS.md
  packages/docs/DOMAIN_MIGRATION_INSTRUCTIONS.md
  packages/docs/MIGRATION_STATUS.md
Due: prettier --write

docs: update documentation with brand colors, links, and optimized structure
  packages/docs/CRITICAL_FIX_GITHUB_PAGES.md
  packages/docs/DEPLOYMENT.md
  packages/docs/DEPLOYMENT_FIX.md
  packages/docs/DEPLOYMENT_FIXES_SUMMARY.md
  packages/docs/Dockerfile.docs
  packages/docs/Dockerfile.docs.dev
  packages/docs/LOCAL_TESTING.md
  packages/docs/README.md
  packages/docs/docker-compose.docs.yml
  packages/docs/docusaurus.config.js
  packages/docs/nginx.docs.conf
  packages/docs/package.json
  packages/docs/quick-start.sh
  packages/docs/scripts/deploy-docs.sh
  packages/docs/scripts/generate_docs.py
  packages/docs/scripts/start-docs.sh
  packages/docs/sidebars.js
  packages/docs/src/css/custom.css
  packages/docs/src/docs/community/index.md
  packages/docs/src/docs/developer/index.md
  packages/docs/src/docs/features/ai-overview.md
  packages/docs/src/docs/features/charts-overview.md
  packages/docs/src/docs/features/data-sources-overview.md
  packages/docs/src/docs/features/index.md
  packages/docs/src/docs/getting-started/demo-walkthrough.md
  packages/docs/src/docs/getting-started/faq.md
  packages/docs/src/docs/getting-started/first-chart.md
  packages/docs/src/docs/getting-started/index.md
  packages/docs/src/docs/getting-started/quick-start-docker.md
  packages/docs/src/docs/index.md
  packages/docs/src/docs/performance/index.md
  packages/docs/src/docs/reference/api-reference.md
  packages/docs/src/docs/reference/config-reference.md
  packages/docs/src/docs/security/index.md
  packages/docs/src/docs/self-host/docker-compose.md
  packages/docs/src/docs/self-host/index.md
  packages/docs/src/docs/troubleshooting/index.md
  packages/docs/static/CNAME
  packages/docs/static/index.html
  packages/docs/test-deployment.sh
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

docs: update docs to go live
  .github/workflows/deploy-docs.yml
  packages/docs/GITHUB_PAGES_TROUBLESHOOTING.md
  packages/docs/docusaurus.config.js
  packages/docs/static/CNAME
Due: eslint --fix, prettier --write

docs: update docs to go live
  .github/workflows/deploy-docs.yml
  packages/docs/DEPLOYMENT_CHECKLIST.md
Due: prettier --write

docs: update docs to go live 1
  .github/workflows/deploy-docs.yml
  packages/docs/QUICK_FIX.md
Due: prettier --write

docs: update docs 2
  .github/workflows/deploy-docs.yml
  packages/docs/CRITICAL_404_FIX.md
  packages/docs/DIAGNOSTIC_GUIDE.md
Due: prettier --write

docs: update docs 3
  .github/workflows/deploy-docs.yml
  packages/docs/404_FIX.md
  packages/docs/COMPLETE_DIAGNOSTIC.md
  packages/docs/CRITICAL_404_FIX.md
  packages/docs/DEPLOYMENT_CHECKLIST.md
  packages/docs/DEPLOYMENT_TROUBLESHOOTING.md
  packages/docs/DIAGNOSTIC_GUIDE.md
  packages/docs/GITHUB_PAGES_TROUBLESHOOTING.md
  packages/docs/LOCAL_TESTING.md
  packages/docs/QUICK_FIX.md
  packages/docs/static/index.html
Due: prettier --write

docs: update docs 3.1
  .github/workflows/deploy-docs.yml
  packages/docs/INDEX_HTML_DIAGNOSTIC.md
  packages/docs/STANDARD_CONFIG.md
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

docs: update docs 3.2
  .github/workflows/deploy-docs.yml
  packages/docs/sidebars.js
Due: eslint --fix, prettier --write

docs: update docs 3.3
  .github/workflows/deploy-docs.yml
  packages/docs/CRITICAL_DOMAIN_FIX.md
  packages/docs/CUSTOM_DOMAIN_SETUP.md
  packages/docs/GITHUB_PAGES_NEXTJS_FIX.md
  packages/docs/TROUBLESHOOTING_CUSTOM_DOMAIN.md
Due: prettier --write

docs: update docs 3.3.1
  .github/workflows/deploy-docs.yml
Due: prettier --write

fixed clickhouse connection
  packages/chat2chart/client/src/app/components/DataSourceManager/DataSourceManager.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/services/cube_connector_service.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/real_cube_integration_service.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

initial data connection trim, removed cubejs
  packages/chat2chart/README.md
  packages/chat2chart/server/ARCHITECTURE.md
  packages/chat2chart/server/TESTING_GUIDE.md
  packages/chat2chart/server/app/core/api.py
  packages/chat2chart/server/app/modules/cube/__init__.py
  packages/chat2chart/server/app/modules/cube/api.py
  packages/chat2chart/server/app/modules/cube/services/__init__.py
  packages/chat2chart/server/app/modules/cube/services/cube_integration_service.py
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/models.py
  packages/chat2chart/server/app/modules/data/services/cube_connector_service.py
  packages/chat2chart/server/app/modules/data/services/cube_data_modeling_service.py
  packages/chat2chart/server/app/modules/data/services/cube_integration_service.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/data_sources_crud.py
  packages/chat2chart/server/app/modules/data/services/database_connector_service.py
  packages/chat2chart/server/app/modules/data/services/real_cube_integration_service.py
  packages/chat2chart/server/app/modules/data/services/yaml_schema_service.py
  packages/chat2chart/server/cube_helpers/.cubestore/data/cachestore/LOG.old.1757586442331944
  packages/chat2chart/server/cube_helpers/.cubestore/data/cachestore/MANIFEST-000021
  packages/chat2chart/server/cube_helpers/.cubestore/data/cachestore/OPTIONS-000023
  packages/chat2chart/server/cube_helpers/.cubestore/data/cachestore/OPTIONS-000025
  packages/chat2chart/server/cube_helpers/.cubestore/data/metastore/LOG.old.1757586427255122
  packages/chat2chart/server/cube_helpers/.cubestore/data/metastore/MANIFEST-000017
  packages/chat2chart/server/cube_helpers/.cubestore/data/metastore/OPTIONS-000019
  packages/chat2chart/server/cube_helpers/Dockerfile.dev
  packages/chat2chart/server/cube_helpers/Dockerfile.enterprise
  packages/chat2chart/server/cube_helpers/package.json
  packages/chat2chart/server/cube_schemas/Ds_7D41Fa9267B34B8788223Fea9D5709F6.yml
  packages/chat2chart/server/cube_schemas/E2E_Inline_Ds_1759547755.yml
  packages/chat2chart/server/cube_schemas/File_1759627249.yml
Due: prettier --write, black --line-length 88, isort --profile black

fix: wasn't able to start conversation. problem: missing columns in database.
  docker-compose.dev.yml
  packages/chat2chart/server/alembic/versions/20251217_add_json_metadata_to_conversation.py
  packages/chat2chart/server/app/main.py
  packages/chat2chart/server/app/modules/__init__.py
Due: prettier --write, black --line-length 88, isort --profile black

supabase authentication integration
  docker-compose.dev.yml
  packages/chat2chart/client/package-lock.json
  packages/chat2chart/client/package.json
  packages/chat2chart/client/src/app/(auth)/login/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/layout.tsx
  packages/chat2chart/client/src/app/(dashboard)/query-editor/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/test-auth/page.tsx
  packages/chat2chart/client/src/auth/authClient.ts
  packages/chat2chart/client/src/components/Providers/Providers.tsx
  packages/chat2chart/client/src/context/AuthContext.tsx
  packages/chat2chart/client/src/context/OrganizationContext.tsx
Due: eslint --fix, prettier --write

first pass at integrating new auth with existing code
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/SessionHistoryDropdown.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/data/page.tsx
  packages/chat2chart/client/src/app/api/ai/chat/analyze/route.ts
  packages/chat2chart/client/src/app/api/ai/chat/stream/route.ts
  packages/chat2chart/client/src/app/api/ai/models/route.ts
  packages/chat2chart/client/src/app/api/assets/[id]/route.ts
  packages/chat2chart/client/src/app/api/assets/route.ts
  packages/chat2chart/client/src/app/api/conversations/[id]/route.ts
  packages/chat2chart/client/src/app/api/conversations/route.ts
  packages/chat2chart/client/src/app/api/data/[...path]/route.ts
  packages/chat2chart/client/src/app/api/organizations/route.ts
  packages/chat2chart/client/src/app/api/queries/[...path]/route.ts
  packages/chat2chart/client/src/app/api/rbac/organizations/[organizationId]/members/[userId]/role/route.ts
  packages/chat2chart/client/src/app/api/rbac/organizations/[organizationId]/members/route.ts
  packages/chat2chart/client/src/app/api/rbac/organizations/route.ts
  packages/chat2chart/client/src/app/api/rbac/permissions/route.ts
  packages/chat2chart/client/src/app/components/SQLEditor/SQLEditor.tsx
  packages/chat2chart/client/src/context/AuthContext.tsx
  packages/chat2chart/client/src/hooks/useAuthenticatedFetch.ts
  packages/chat2chart/client/src/hooks/useAuthenticatedMutation.ts
  packages/chat2chart/client/src/hooks/useAuthenticatedQuery.ts
  packages/chat2chart/client/src/queries/dataSources.ts
  packages/chat2chart/client/src/services/conversationSessionManager.ts
  packages/chat2chart/client/src/utils/api.ts
  packages/chat2chart/client/src/utils/cookieParser.ts
  packages/chat2chart/client/src/utils/secureAuth.ts
  packages/chat2chart/server/app/core/config.py
  packages/chat2chart/server/app/modules/authentication/deps/auth_bearer.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

fixed data connection saving not using authenticated fetch
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
Due: eslint --fix, prettier --write

removed organization and rbac
  docker-compose.dev.yml
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/server/Dockerfile.dev
  packages/chat2chart/server/alembic_c2c/versions/20250114_create_saved_assets_table.py
  packages/chat2chart/server/alembic_c2c/versions/20250125_remove_organization_isolation.py
  packages/chat2chart/server/app/modules/ai/schemas/graph_state.py
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
  packages/chat2chart/server/pyproject.toml
  packages/cube/src/index-simple.ts
  packages/cube/src/index.ts
  packages/cube/src/middleware/security.ts
  scripts/init-db.sql
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

now persist ai response for non-streaming endpoint
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

now properly stores and retrieves conversations
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/SessionHistoryDropdown.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/page.tsx
  packages/chat2chart/client/src/components/Providers/Providers.tsx
  packages/chat2chart/client/src/context/ConversationContext.tsx
  packages/chat2chart/client/src/services/conversationSessionManager.ts
  packages/chat2chart/server/alembic_c2c/versions/20250114_create_saved_assets_table.py
  packages/chat2chart/server/alembic_c2c/versions/20250125_remove_organization_isolation.py
  packages/chat2chart/server/app/modules/chats/conversations/api.py
  packages/chat2chart/server/app/modules/chats/conversations/services.py
  packages/chat2chart/server/app/modules/chats/messages/schemas.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

some slight cleaning of ChatPanel
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
Due: eslint --fix, prettier --write

trying to match data source properties between client, server, db
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/server/alembic_c2c/versions/20250126_enforce_data_source_user_id.py
  packages/chat2chart/server/app/modules/ai/services/unified_ai_analytics_service.py
  packages/chat2chart/server/app/modules/charts/models.py
  packages/chat2chart/server/app/modules/charts/schemas.py
  packages/chat2chart/server/app/modules/chats/conversations/models.py
  packages/chat2chart/server/app/modules/chats/cube_integration.py
  packages/chat2chart/server/app/modules/chats/enhanced_services.py
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/models.py
  packages/chat2chart/server/app/modules/data/schemas.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/data_retention_service.py
  packages/chat2chart/server/app/modules/data/services/data_sources_crud.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
  packages/chat2chart/server/app/modules/data/services/rbac_service.py
  packages/chat2chart/server/app/modules/projects/api.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  black --line-length 88: any of: *.py
  isort --profile black: any of: *.py
