Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

Fix GitHub Actions permissions for GitHub Pages deployment
  .github/workflows/deploy-docs.yml
Due: prettier --write

run docs
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Fix publish_dir path in GitHub Actions workflow for correct deployment
  .github/workflows/deploy-docs.yml
Due: prettier --write

Trigger docs deployment workflow with fixed publish_dir path
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

deploy: cee609c32f2ded83528eba7001e8ab440bca1887
  .nojekyll
  CNAME
Due: none

Fix inconsistent publish_dir paths in GitHub Actions workflow
  .github/workflows/deploy-docs.yml
Due: prettier --write

Trigger docs deployment workflow with fixed publish_dir paths
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Fix publish_dir paths to use absolute paths from repository root
  .github/workflows/deploy-docs.yml
Due: prettier --write

Switch to official GitHub Pages deployment action for better reliability
  .github/workflows/deploy-docs.yml
Due: prettier --write

Create CNAME
  CNAME
Due: none

Fix baseUrl to '/' for correct GitHub Pages deployment
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Fix deployment: use destination_dir: docs to match baseUrl: '/docs/' configuration
  .github/workflows/deploy-docs.yml
  packages/docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Add Aiser brand favicon: ico and svg formats for better browser compatibility
  packages/docs/docusaurus.config.js
  packages/docs/static/favicon.ico
  packages/docs/static/favicon.svg
Due: eslint --fix, prettier --write

Add root redirect: redirect from / to /docs/ for better user experience
  packages/docs/static/index.html
Due: none

improvement: implement secure variable configuration for Docker
  DOCKER_ENV_SETUP.md
  Dockerfile.auth
  README.md
  docker-compose.dev.yml
  docker-compose.enterprise.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/validate-env.sh
  test_azure_openai.py
Due: prettier --write, black --line-length 88, isort --profile black

feat: Add default users with working passwords and database improvements
  DEFAULT_USERS.md
  scripts/generate_password_hashes.py
  scripts/init-db.sql
  scripts/reinit-database.sh
Due: prettier --write, black --line-length 88, isort --profile black

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  black --line-length 88: any of: *.py
  isort --profile black: any of: *.py
