Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

Fix: Handle missing model config and default model
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
  packages/chat2chart/server/app/modules/charts/core/visualization.py
Due: black --line-length 88, isort --profile black

Fix: Handle missing AI model configuration gracefully
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
Due: black --line-length 88, isort --profile black

Refactor: Use cls for JWT encoding constants
  packages/chat2chart/server/app/modules/authentication/auth.py
Due: black --line-length 88, isort --profile black

Refactor LiteLLM service to use .get() for safer dictionary access
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
Due: black --line-length 88, isort --profile black

Add ai, real_data_sources, and repository to pyright config
  pyrightconfig.json
Due: prettier --write

fix(auth): export schema types in authentication package
  packages/chat2chart/server/app/modules/authentication/__init__.py
Due: black --line-length 88, isort --profile black

fix: export auth schemas; resolve merge conflict in user service update_user
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

fix: resolve merge artifacts and cleanup repository auth exports
  packages/chat2chart/server/app/common/repository.py
  packages/chat2chart/server/app/modules/files/repository.py
  packages/chat2chart/server/app/modules/organization/api.py
Due: black --line-length 88, isort --profile black

fix(auth): use 32-byte SECRET_BYTES for JWE; resolve merge remnants and repository fixes
  packages/chat2chart/server/app/core/config.py
  packages/chat2chart/server/app/modules/authentication/auth.py
Due: black --line-length 88, isort --profile black

chore: save working changes before merging main into other branches
  package-lock.json
  package.json
  packages/chat2chart/server/app/common/service.py
  packages/chat2chart/server/app/common/utils/query_params.py
  packages/chat2chart/server/app/core/cache.py
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
  packages/chat2chart/server/app/modules/charts/core/visualization.py
  packages/chat2chart/server/app/modules/charts/services.py
  packages/chat2chart/server/app/modules/charts/services/__init__.py
  packages/chat2chart/server/app/modules/charts/services/chart_generation_service.py
  packages/chat2chart/server/app/modules/charts/services/dashboard_service.py
  packages/chat2chart/server/app/modules/charts/services/integrated_chat2chart_service.py
  packages/chat2chart/server/app/modules/files/services/base.py
  packages/chat2chart/server/app/modules/files/services/local.py
  packages/chat2chart/server/app/modules/files/services/s3.py
  packages/chat2chart/server/app/modules/user/api.py
  pyrightconfig.json
Due: prettier --write, black --line-length 88, isort --profile black

chore: update .gitignore to ignore venv and build artifacts
  .gitignore
Due: none

chore: add backend Dockerfile.dev for local development
  packages/chat2chart/server/Dockerfile.dev
Due: none

Remove env/venv/chunk files from repo and rely on .gitignore
  .env.prod.example
  packages/chat2chart/server/.env.backup
  packages/docs/venv/lib/python3.12/site-packages/pathlib2/__init__.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/distlib/metadata.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/distlib/version.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/idna/core.py
Due: black --line-length 88, isort --profile black

Include deleted files and cleanup tracked env/venv files
  , Auth().verify_password(admin12345, pw))     except Exception as e:         print(VERIFY_ERROR, e)  asyncio.run(main()) PY
  .authentication.auth import Auth
Due: none

Improve /dash-studio UX/UI
  packages/chat2chart/client/Dockerfile.dev
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/EmbedModal.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/FullscreenPreviewModal.tsx
  packages/chat2chart/client/src/app/(dashboard)/data/page.tsx
Due: eslint --fix, prettier --write

fix RefreshTokenRequest
  packages/chat2chart/server/app/common/repository.py
  packages/chat2chart/server/app/modules/authentication/__init__.py
  packages/chat2chart/server/app/modules/files/repository.py
  packages/docs/venv/lib/python3.12/site-packages/pathlib2/__init__.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/distlib/metadata.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/distlib/version.py
  packages/docs/venv/lib/python3.12/site-packages/pip/_vendor/idna/core.py
Due: black --line-length 88, isort --profile black

fix: resolve critical backend import errors and improve .gitignore
  .gitignore
Due: none

Update chat2chart components, AI services, and add utility scripts
  docker-compose.dev.yml
  fix_conversation_schema.sql
  packages/chat2chart/client/package-lock.json
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/utils/backendUrl.ts
  packages/chat2chart/server/README.md
  packages/chat2chart/server/app/core/cache.py
  packages/chat2chart/server/app/modules/ai/api.py
  packages/chat2chart/server/app/modules/ai/services/ai_orchestrator.py
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
  packages/chat2chart/server/app/modules/authentication/__init__.py
  packages/chat2chart/server/app/modules/chats/api.py
  packages/chat2chart/server/app/modules/chats/streaming_service.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
  packages/chat2chart/server/poetry.lock
  packages/chat2chart/server/requirements.txt
  packages/chat2chart/server/test_azure.py
  scripts/start-local.sh
  scripts/start-services.sh
  scripts/stop-services.sh
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

feat: set Authorization header fallback after upgrade-demo in dev when cookies blocked
  packages/chat2chart/client/src/services/apiService.ts
Due: eslint --fix, prettier --write

fix(client): use localhost backend in development to ensure browser can reach API
  packages/chat2chart/client/src/utils/backendUrl.ts
Due: eslint --fix, prettier --write

fix(client): pass demo_token and user payload to upgrade-demo to handle cross-site cookie scenarios
  packages/chat2chart/client/src/services/apiService.ts
Due: eslint --fix, prettier --write

chore(auth): add diagnostic logging to upgrade-demo for cookies and body
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

fix(charts): allow demo_token fallback in create_dashboard in development
  packages/chat2chart/server/app/modules/charts/api.py
Due: black --line-length 88, isort --profile black

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  black --line-length 88: any of: *.py
  isort --profile black: any of: *.py
