Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 88",
    "isort --profile black"
  ]
}

Fallback sync DB update for PUT /users/profile when payload dict present to avoid async session conflicts
  packages/chat2chart/server/app/modules/user/api.py
Due: black --line-length 88, isort --profile black

UserService.get_me: fall back to sync email lookup when async repo lookup fails (avoids asyncpg issues)
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Add debug prints in UserService.get_me to trace token and lookup path
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

UserService.get_me: add sync existence check and debug prints when payload lookup fails
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Log exceptions for async email lookup and sync fallback in get_me
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Import sqlalchemy alias as sa for sync fallback queries in UserService.get_me
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Sync fallback: limit SELECT columns to avoid missing-column errors during schema drift
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Write request debug info to /tmp/update_profile_debug.log at start of PUT /users/profile
  packages/chat2chart/server/app/modules/user/api.py
Due: black --line-length 88, isort --profile black

Fix debug fh.write newline literal in update_user_profile debug writer
  packages/chat2chart/server/app/modules/user/api.py
Due: black --line-length 88, isort --profile black

Normalize user_update fields to avoid AttributeError in PUT /users/profile handlers
  packages/chat2chart/server/app/modules/user/api.py
Due: black --line-length 88, isort --profile black

Add lightweight request_trace_middleware to log cookies/headers to /tmp/request_trace.log for debugging auth issues
  packages/chat2chart/server/app/main.py
Due: black --line-length 88, isort --profile black

Remove transient debug helpers: request tracer and file debug writes; simplify get_me fallback
  packages/chat2chart/server/app/main.py
  packages/chat2chart/server/app/modules/user/api.py
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Allow cookie-based token fallback in verify_project_access for frontend flows
  packages/chat2chart/server/app/modules/data/api.py
Due: black --line-length 88, isort --profile black

RBAC: accept cookie token and use sync DB fallback for role/project checks to avoid asyncpg concurrent-operation errors in TestClient
  packages/chat2chart/server/app/modules/data/api.py
Due: black --line-length 88, isort --profile black

RBAC: add top-level exception handling to verify_project_access to ensure module import succeeds
  packages/chat2chart/server/app/modules/data/api.py
Due: black --line-length 88, isort --profile black

RBAC: import sa and logging; define module logger to avoid UnboundLocalError during RBAC checks
  packages/chat2chart/server/app/modules/data/api.py
Due: black --line-length 88, isort --profile black

Replace local Cube build with official Cube image; add DB health-check & prune utilities; update SETUP.md with admin and Cube notes
  docker-compose.yml
  packages/chat2chart/server/SETUP.md
  packages/chat2chart/server/scripts/setup_database.py
Due: prettier --write, black --line-length 88, isort --profile black

Centralize Cube schemas directory and embed Aiser metadata into generated YAML
  packages/chat2chart/server/app/modules/data/services/cube_data_modeling_service.py
Due: black --line-length 88, isort --profile black

Document centralized Cube schema management and deployment flow
  packages/chat2chart/server/SETUP.md
Due: prettier --write

Add helper to convert Cube results to ECharts option for quick chart generation
  packages/chat2chart/server/app/modules/data/services/cube_integration_service.py
Due: black --line-length 88, isort --profile black

Add /dash-studio/query-editor/generate-chart endpoint and ECharts conversion helper
  packages/chat2chart/server/app/modules/data/api.py
Due: black --line-length 88, isort --profile black

chore(start): make start.sh executable to avoid permission denied in container
  packages/chat2chart/server/start.sh
Due: none

chore(start): try pip-install requirements on import failure (one-time)
  packages/chat2chart/server/start.sh
Due: none

auth: prefer same-origin proxy in AuthContext for token and cookie checks; include credentials and fallbacks
  packages/chat2chart/client/src/context/AuthContext.tsx
Due: eslint --fix, prettier --write

middleware: exclude Next.js static asset paths with trailing slashes to avoid interfering with _next/static requests
  packages/chat2chart/client/middleware.ts
Due: eslint --fix, prettier --write

middleware: avoid intercepting _next static requests by excluding trailing slashes in matcher
  packages/chat2chart/client/src/middleware.ts
Due: eslint --fix, prettier --write

debug: use same-origin proxy in auth-debug for signin/me to ensure cookies are forwarded
  packages/chat2chart/client/src/app/(dashboard)/auth-debug/page.tsx
Due: eslint --fix, prettier --write

debug: add client logger and integrate into auth-debug page to capture console/network errors
  packages/chat2chart/client/src/app/(dashboard)/auth-debug/ClientLogger.tsx
  packages/chat2chart/client/src/app/(dashboard)/auth-debug/page.tsx
Due: eslint --fix, prettier --write

auth: improve verifyAuth to set loading/initialized and robustly handle non-ok responses
  packages/chat2chart/client/src/context/AuthContext.tsx
Due: eslint --fix, prettier --write

middleware: disable global matcher to avoid interfering with _next static asset requests during local dev
  packages/chat2chart/client/src/middleware.ts
Due: eslint --fix, prettier --write

auth: await verification during login (short timeout) to avoid ProtectRoute blocking after optimistic login
  packages/chat2chart/client/src/context/AuthContext.tsx
Due: eslint --fix, prettier --write

auth: retry /users/me (3 attempts) to mitigate transient cookie forwarding races
  packages/chat2chart/client/src/context/AuthContext.tsx
Due: eslint --fix, prettier --write

debug: store last client log and expose /debug/client-error/last for dev retrieval
  packages/chat2chart/server/app/modules/debug/api.py
Due: black --line-length 88, isort --profile black

debug: proxy client-error to backend debug endpoint for easier client log forwarding
  packages/chat2chart/client/src/pages/api/debug/client-error.ts
Due: eslint --fix, prettier --write

debug: auto-flush client logs every 5s (dev-only) and console log send results
  packages/chat2chart/client/src/app/(dashboard)/auth-debug/ClientLogger.tsx
Due: eslint --fix, prettier --write

chore(client): route all backend calls through same-origin /api proxy
  packages/chat2chart/client/src/app/components/CubeIntegrationTest/CubeIntegrationTest.tsx
  packages/chat2chart/client/src/app/components/ModelSelector/ModelSelector.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/client/src/pages/api/[...path].ts
Due: eslint --fix, prettier --write

chore: route/frontend proxy fixes — switch browser calls to /api proxy; map SSR localhost to chat2chart-server; avoid middleware intercepting _next assets
  auth_debug_after.png
  console_msgs.json
  docker-compose.yml
  failed_requests.json
  headless_debug_send.js
  headless_trace.js
  packages/chat2chart/client/middleware.ts
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/services/WorkingQueryService.ts
  packages/chat2chart/client/src/app/api/conversations/[id]/route.ts
  packages/chat2chart/client/src/app/api/conversations/route.ts
  packages/chat2chart/client/src/app/components/ConnectivityBanner.tsx
  packages/chat2chart/client/src/context/AuthContext.tsx
  packages/chat2chart/client/src/context/OrganizationContext.tsx
  packages/chat2chart/client/src/pages/api/[...path].ts
  packages/chat2chart/client/src/services/conversationService.ts
  packages/chat2chart/client/src/utils/api.ts
  packages/chat2chart/client/src/utils/backendUrl.ts
  packages/chat2chart/server/app/modules/chats/conversations/api.py
  packages/chat2chart/server/migrations/versions/20251007_091500_add_conversation_columns.py
  page_content.html
  signin_chat.png
  signin_chat_trace.png
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

Fix: replace absolute localhost auth/cube URLs with proxy/env, move ModeSelector to header, sync chat_mode
  console_msgs.json
  failed_requests.json
  headless_auth_poll.js
  packages/chat2chart/client/src/app/(dashboard)/auth-test/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/CubeSchemaPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/components/CubeIntegrationTest/CubeIntegrationTest.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/client/src/app/simple-auth-test/page.tsx
  packages/chat2chart/client/src/components/DevTools/ClientDebugOverlay.tsx
  packages/chat2chart/client/src/components/Providers/Providers.tsx
  packages/chat2chart/client/src/context/AuthContext.tsx
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  packages/chat2chart/client/src/pages/api/[...path].ts
  page_content.html
  signin_chat_trace.png
Due: eslint --fix, prettier --write
