Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

chore: sync fixes; align ECharts config; data services updates; onboarding context; TS cleanups; ignore local sshsv.pub
  .gitignore
  .kiro/settings/mcp.json
  sshsv
  sshsv.pub
Due: prettier --write

chore: ignore local SSH keys and dash-studio docs; sync fixes
  .gitignore
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/GridSystemComparison.md
  sshsv
  sshsv.pub
Due: prettier --write

chore(security): ignore sensitive internal .md docs
  .gitignore
  ARCHITECTURE_CONSOLIDATION_PLAN.md
  COMPLIANCE-AND-SECURITY.md
  DEFAULT_USERS.md
  DOCKER_ENV_SETUP.md
  ENTERPRISE-LICENSE-AGREEMENT.md
  ENTERPRISE.md
  EVALUATION-TERMS.md
  INTEGRATION_COMPLETE.md
  INTEGRATION_PLAN.md
  PLATFORM_ENHANCEMENT_SUMMARY.md
  PRICING-AND-LICENSING.md
  PRODUCTION_DEPLOYMENT.md
  README-SECURITY.md
  packages/chat2chart/ENHANCED_IMPLEMENTATION_SUMMARY.md
  packages/chat2chart/client/IMPLEMENTATION_SUMMARY.md
  packages/chat2chart/client/PLATFORM_ARCHITECTURE_ANALYSIS.md
  packages/chat2chart/client/TECHNICAL_DEBT_ANALYSIS.md
Due: prettier --write

feat(query-editor): backend tab persistence; saved queries & schedules UI; ignore ssh keys
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ProjectSelector/ProjectSelector.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/server/app/core/api.py
  packages/chat2chart/server/app/modules/queries/api.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

feat(ui): theme contrast overhaul + unified theme toggle; chat panels tokenized; sider/menu dark/light fixes; DS floating toggle reposition; minor UX polish
  Makefile
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatMessage.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/CubeSchemaPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/styles.css
  packages/chat2chart/client/src/app/(dashboard)/chat/components/HistoryPanel/CollapsibleHistoryPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/HistoryPanel/styles.css
  packages/chat2chart/client/src/app/(dashboard)/chat/page.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/DashboardStudio.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/client/src/app/globals.css
  packages/chat2chart/client/src/components/Providers/ThemeModeContext.tsx
  packages/chat2chart/client/src/components/Providers/ThemeProvider.tsx
  packages/chat2chart/client/src/hooks/useDarkMode.ts
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  packages/chat2chart/client/src/layouts/Navigation/Navigation.tsx
  packages/chat2chart/client/src/services/unifiedAIService.ts
  packages/chat2chart/client/src/styles/globals.css
  packages/chat2chart/server/app/modules/ai/api.py
  packages/chat2chart/server/app/modules/chats/api.py
  packages/chat2chart/server/app/modules/cube/api.py
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
  packages/chat2chart/server/create_missing_tables.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

Delete packages/chat2chart/client/public/Aiser Demo Gif.gif:Zone.Identifier
  packages/chat2chart/client/public/Aiser Demo Gif.gif:Zone.Identifier
Due: none

Create Platform Acceptance Criteria.md
  Platform Acceptance Criteria.md
Due: prettier --write

Update database initialization script
  scripts/init-db.sql
Due: none

feat: Enhanced Query Editor with Database Explorer
  .cursorrules
  .gitignore
  DEVELOPMENT_GUIDE.md
  PRODUCTION_CHECKLIST.md
  QUICK_START.md
  README-CURSOR.md
  aiser-platform-context.md
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/services/WorkingQueryService.ts
  packages/chat2chart/client/src/app/components/ErrorBoundary.tsx
  packages/chat2chart/client/src/app/components/LoadingStates.tsx
  packages/chat2chart/client/src/app/components/MemoryOptimizedEditor.tsx
  packages/chat2chart/client/src/app/components/UIEnhancements.tsx
  packages/chat2chart/server/app/modules/charts/api.py
  packages/chat2chart/server/app/modules/charts/services/dashboard_service.py
  scripts/dev-setup.sh
  scripts/quick-fix.sh
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

chore: Add .cursorrules and aiser-platform-context.md to .gitignore
  .cursorrules
  .gitignore
  aiser-platform-context.md
Due: prettier --write

chore: ignore docs venv and docusaurus cache; generalize pyc ignores
  .gitignore
Due: none

chore: ignore cubestore data and cleanup gitignore
  , Auth().verify_password(admin12345, pw))     except Exception as e:         print(VERIFY_ERROR, e)  asyncio.run(main()) PY
  .gitignore
  docker-compose.dev.yml
  packages/auth-service/app/main.py
  packages/auth-service/main.py
  packages/auth-service/requirements.txt
  packages/chat2chart/client/package-lock.json
  packages/chat2chart/client/src/app/components/ErrorBoundary.tsx
  packages/chat2chart/client/src/app/components/LoadingStates.tsx
  packages/chat2chart/client/src/app/components/MemoryOptimizedEditor.tsx
  packages/chat2chart/client/src/app/components/UIEnhancements.tsx
  packages/chat2chart/client/src/components/Providers/ThemeModeContext.tsx
  packages/chat2chart/client/src/context/AuthContext.tsx
  packages/chat2chart/server/app/core/api.py
  packages/chat2chart/server/app/core/config.py
  packages/chat2chart/server/app/modules/authentication/auth.py
  packages/chat2chart/server/app/modules/authentication/enterprise_api.py
  packages/chat2chart/server/app/modules/charts/services/dashboard_service.py
  packages/chat2chart/server/app/modules/user/models.py
  packages/chat2chart/server/app/modules/user/repository.py
  packages/chat2chart/server/app/modules/user/services.py
  packages/chat2chart/server/scripts/fix_plain_passwords.py
  packages/chat2chart/server/scripts/setup_database.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

chore: remove virtualenv from repo and ignore .venv311
  .gitignore
Due: none

feat: Add pyright for Python type checking
  package-lock.json
  package.json
  pyrightconfig.json
Due: prettier --write

Refactor: Improve search, pagination, and auth handling
  packages/chat2chart/server/app/common/repository.py
  packages/chat2chart/server/app/common/service.py
  packages/chat2chart/server/app/common/utils/query_params.py
  packages/chat2chart/server/app/core/cache.py
  packages/chat2chart/server/app/modules/authentication/auth.py
  packages/chat2chart/server/app/modules/files/repository.py
  packages/chat2chart/server/app/modules/files/services/local.py
  packages/chat2chart/server/app/modules/files/services/s3.py
  packages/chat2chart/server/app/modules/organization/api.py
  packages/chat2chart/server/app/modules/user/api.py
  packages/chat2chart/server/app/modules/user/repository.py
  packages/chat2chart/server/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

Fix: Handle various file types for size check
  packages/chat2chart/server/app/modules/files/services/base.py
  pyrightconfig.json
Due: prettier --write, black --line-length 88, isort --profile black

Refactor: Improve data retrieval and error handling
  packages/chat2chart/server/app/modules/charts/services/dashboard_service.py
  packages/chat2chart/server/app/modules/charts/services/integrated_chat2chart_service.py
Due: black --line-length 88, isort --profile black

Refactor: Improve chart compatibility analysis
  packages/chat2chart/server/app/modules/charts/services/chart_generation_service.py
Due: black --line-length 88, isort --profile black

Refactor: Simplify chart service imports and dashboard repository
  packages/chat2chart/server/app/modules/charts/services/__init__.py
  packages/chat2chart/server/app/modules/charts/services/dashboard_service.py
Due: black --line-length 88, isort --profile black

Fix: Ensure correct token types and add message_id
  packages/chat2chart/server/app/modules/authentication/auth.py
  packages/chat2chart/server/app/modules/charts/core/visualization.py
  packages/chat2chart/server/app/modules/charts/services.py
Due: black --line-length 88, isort --profile black

Refactor: Improve LiteLLM and chart generation logic
  packages/chat2chart/server/app/modules/ai/services/litellm_service.py
  packages/chat2chart/server/app/modules/charts/core/visualization.py
Due: black --line-length 88, isort --profile black

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  black --line-length 88: any of: *.py
  isort --profile black: any of: *.py
