Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 88",
    "isort --profile black"
  ]
}

auth: call chat2chart provisioning endpoint on signup (idempotent, dev safe)
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

client(dev): default AUTH_URL to API_URL for dev helpers hosted on chat2chart
  packages/chat2chart/client/src/utils/api.ts
Due: eslint --fix, prettier --write

auth: provision retry using compose hostname fallback for internal provision
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

dev: add CHAT2CHART_PROVISION_URL and INTERNAL_PROVISION_SECRET to compose env for auth/chat2chart
  docker-compose.dev.yml
Due: prettier --write

dev: ensure auth service has CHAT2CHART_PROVISION_URL and INTERNAL_PROVISION_SECRET envs
  docker-compose.dev.yml
Due: prettier --write

config: expose CHAT2CHART_PROVISION_URL and INTERNAL_PROVISION_SECRET to settings
  packages/chat2chart/server/app/core/config.py
Due: black --line-length 88, isort --profile black

dev: make provisioning env explicit in compose to avoid missing .env dependency during CI
  docker-compose.dev.yml
Due: prettier --write

dev: correct internal provision path to /internal/provision-user for chat2chart
  docker-compose.dev.yml
Due: prettier --write

auth: accept local and dev fallback internal provision secret for dev provisioning
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

auth: accept secret from config, env, or dev fallback for internal provision endpoint
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

auth: robust provisioning upsert that tolerates partial schemas (avoid legacy_id dependency)
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

migrations: add migration to add missing user columns for auth canonical schema
  packages/auth/src/migrations/versions/20250925_090000_add_user_missing_columns.py
Due: black --line-length 88, isort --profile black

auth: add refresh token revocation fields and repository helpers for persisted refresh token revocation
  packages/auth/src/app/modules/device_session/models.py
  packages/auth/src/app/modules/device_session/repository.py
  packages/auth/src/app/modules/device_session/schemas.py
Due: black --line-length 88, isort --profile black

auth: persist device session on signin with refresh token for rotation and revocation
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

dev: mount canonical auth src in auth-service container and run it directly (PYTHONPATH=/app/src)
  docker-compose.dev.yml
Due: prettier --write

dev: run canonical auth app from packages/auth/src with PYTHONPATH and provision env
  docker-compose.dev.yml
Due: prettier --write

dev: build auth-service image from packages/auth-service with uvicorn and PYTHONPATH
  docker-compose.dev.yml
  packages/auth-service/Dockerfile
Due: prettier --write

auth: avoid UUID casting errors during migration by using raw UPDATE for verification attempts
  docker-compose.dev.yml
  packages/auth/src/app/modules/device_session/migrations/env.py
  packages/auth/src/app/modules/device_session/migrations/script.py.mako
  packages/auth/src/app/modules/device_session/migrations/versions/20250925_091500_add_device_session_refresh_fields.py
  packages/auth/src/app/modules/device_session/models.py
  packages/auth/src/app/modules/user/repository.py
Due: prettier --write, black --line-length 88, isort --profile black

migrations: add id_new UUID column preparatory migration for user PK migration
  packages/auth/src/migrations/versions/20250925_100000_add_user_uuid_column.py
Due: black --line-length 88, isort --profile black

migrations: populate user FK id_new columns; repo: flexible id lookup to support mixed integer/UUID schemas
  packages/auth/src/app/modules/user/repository.py
  packages/auth/src/migrations/versions/20250925_100000_add_user_uuid_column.py
  packages/auth/src/migrations/versions/20250925_101500_populate_user_fks_id_new.py
  packages/auth/src/migrations/versions/20250925_102000_populate_user_fks_from_legacy.py
Due: black --line-length 88, isort --profile black

auth: make users.id flexible string PK to tolerate mixed integer/UUID during migration
  packages/auth/src/app/modules/user/models.py
Due: black --line-length 88, isort --profile black

auth: avoid lazy PK requery during mixed-schema migration; make email send non-fatal
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

ci: add integration workflow for signup->provision->dashboard CRUD
  .github/workflows/integration.yml
Due: prettier --write

fix(user.models): import organizations models to resolve relationship mapping order
  packages/auth/src/app/modules/user/models.py
Due: black --line-length 88, isort --profile black

fix(device_session.repo): ensure commit/rollback and async-safe revoke/deactivate operations
  packages/auth/src/app/modules/device_session/repository.py
Due: black --line-length 88, isort --profile black

feat(workers): add idempotent user reconciliation worker to provision chat2chart users
  packages/auth/src/app/workers/user_sync.py
Due: black --line-length 88, isort --profile black

feat(provision): create default org/project and membership when provisioning new user in chat2chart
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

test(integration): add signup->provision->dashboard CRUD integration test
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

test(integration): probe auth service hostnames when running in container
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

test(integration): discover auth service hostname and add timeouts
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

fix(user.repo): safe create avoiding UUID->int insert and returning created row
  packages/auth/src/app/modules/user/repository.py
Due: black --line-length 88, isort --profile black

fix(user.models): avoid python-default UUID on id to prevent UUID->int insert errors during migration
  packages/auth/src/app/modules/user/models.py
Due: black --line-length 88, isort --profile black

test(integration): use discovered auth_url for signin request and add timeouts
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

fix(user.services): pass dict payload to repo.create to avoid pydantic model id defaults during migration
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

fix(user.repo): accept dict or pydantic model for create payload
  packages/auth/src/app/modules/user/repository.py
Due: black --line-length 88, isort --profile black

fix(user.services): avoid awaiting async token_repo during sync signup; swallow persistence errors
  packages/auth/src/app/modules/user/services.py
Due: black --line-length 88, isort --profile black

test(integration): use signup tokens when available to avoid signin flakiness
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

test(integration): call dashboards API instead of deprecated builder endpoints
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black

fix(provision): set created_at/updated_at and is_active flags on targeted user insert
  packages/chat2chart/server/app/modules/authentication/api.py
Due: black --line-length 88, isort --profile black

test(integration): increase timeouts for dashboard create/get/delete in container environment
  packages/chat2chart/server/app/tests/integration/test_signup_provision_dashboard.py
Due: black --line-length 88, isort --profile black
