Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 88",
    "isort --profile black"
  ]
}

made DatasourceContext as single source of truth
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/FileSchemaTree.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/SchemaSelect.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/SchemaTree.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/TableViewSelect.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/page.tsx
  packages/chat2chart/client/src/app/components/DataSourceManager/DataSourceManager.tsx
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/client/src/components/Providers/Providers.tsx
  packages/chat2chart/client/src/context/DataSourceContext.tsx
  packages/chat2chart/server/alembic_c2c/versions/20250114_create_saved_assets_table.py
  packages/chat2chart/server/alembic_c2c/versions/20250125_remove_organization_isolation.py
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/services/data_sources_crud.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

changed file storage from saving to local disk to saving it in a file_storage table, imitating an object storage
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/api/data/[...path]/route.ts
  packages/chat2chart/client/src/app/components/UniversalDataSourceModal/UniversalDataSourceModal.tsx
  packages/chat2chart/client/src/utils/api.ts
  packages/chat2chart/server/alembic_c2c/versions/20250114_create_saved_assets_table.py
  packages/chat2chart/server/alembic_c2c/versions/20250125_remove_organization_isolation.py
  packages/chat2chart/server/app/modules/ai/services/ai_orchestrator.py
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/models.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
  packages/chat2chart/server/app/modules/data/services/postgres_storage_service.py
  packages/chat2chart/server/database/migrations/add_file_storage_table.sql
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

file data source is now treated the same as data warehouse, 1 query 1 answer
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/server/app/modules/ai/api.py
  packages/chat2chart/server/app/modules/ai/api_streaming.py
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
  packages/chat2chart/server/app/modules/ai/nodes/unified_node.py
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
  packages/chat2chart/server/app/modules/data/services/multi_engine_query_service.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

made sure that user message gets properly marked as complete when query finishes
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
Due: black --line-length 88, isort --profile black

ai response now also persists in the same 'message' table entry as the user message that prompted it
  packages/chat2chart/client/src/context/ConversationContext.tsx
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

made debugging server optional via comments
  docker-compose.dev.yml
Due: prettier --write

Refactor JSON parse error logging
  packages/chat2chart/server/app/modules/ai/nodes/unified_node.py
Due: black --line-length 88, isort --profile black

Potential fix for code scanning alert no. 335: Clear-text logging of sensitive information
  packages/chat2chart/server/app/modules/data/api.py
  packages/chat2chart/server/app/modules/data/services/data_connectivity_service.py
Due: black --line-length 88, isort --profile black

Potential fix for code scanning alert no. 338: Clear-text logging of sensitive information
  packages/chat2chart/server/app/modules/ai/nodes/unified_node.py
Due: black --line-length 88, isort --profile black

fixed query-editor so that it can chat properly about current sql statement
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/server/app/modules/ai/agents/nl2sql_agent.py
  packages/chat2chart/server/app/modules/ai/api.py
  packages/chat2chart/server/app/modules/ai/nodes/nl2sql_node.py
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
  packages/chat2chart/server/app/modules/ai/services/sql_relevance_detector.py
  packages/chat2chart/server/database/migrations/add_file_storage_table.sql
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

improved data source and schema context handling
  packages/chat2chart/client/src/app/(dashboard)/chat/components/DataPanel/EnhancedDataPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MonacoSQLEditor.tsx
  packages/chat2chart/client/src/context/DataSourceContext.tsx
Due: eslint --fix, prettier --write

Enhance Dashboard chart properties
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/AdvancedDashboardCanvas.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/ChartWidget.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/EnhancedWidgetCategories.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MigratedDashboardStudio.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/SimpleDashboardStudio.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/UnifiedDesignPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/WidgetComponent.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/WidgetDefaultConfigs.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/WidgetSystem/WidgetRenderer.tsx
Due: eslint --fix, prettier --write
