Repository aiser-platform/aiser-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, isort --profile black

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 88",
    "isort --profile black"
  ]
}

UI: header accessibility + sidebar toggle focus, ModelSelector compact sizing and globals tweaks
  console_msgs.json
  docker-compose.yml
  failed_requests.json
  packages/chat2chart/client/src/app/api/conversations/route.ts
  packages/chat2chart/client/src/app/components/ModelSelector/ModelSelector.tsx
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  packages/chat2chart/client/src/styles/globals.css
  page_content.html
  signin_chat_trace.png
Due: eslint --fix, prettier --write

UI: header alignment and ModelSelector spacing tweaks; global header height
  packages/chat2chart/client/src/styles/globals.css
  page_content.html
  signin_chat_trace.png
Due: none

UI: adjust header padding to 16px for tighter layout
  console_msgs_ui.json
  failed_requests_ui.json
  headless_ui_trace.js
  packages/chat2chart/client/src/pages/api/[...path].ts
  packages/chat2chart/client/src/styles/globals.css
  page_content_ui.html
  signin_chat_ui.png
Due: eslint --fix, prettier --write

UI: header - add app title, tighten spacing and push right-group to far right
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  packages/chat2chart/client/src/styles/globals.css
Due: eslint --fix, prettier --write

UX: project selector width in header, ensure chat input has aria/test ids, send button accessible
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ProjectSelector/ProjectSelector.tsx
  packages/chat2chart/client/src/components/UserProfileDropdown.tsx
Due: eslint --fix, prettier --write

UX: move sidebar toggle left of project selector, add logo, ensure dark/light toggle present, minor profile layout tweaks
  console_msgs_ui.json
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  page_content_ui.html
  signin_chat_ui.png
Due: eslint --fix, prettier --write

UI: remove duplicate title, compact header height to 56px, adjust padding
  packages/chat2chart/client/src/layouts/Header/Header.tsx
  packages/chat2chart/client/src/styles/globals.css
Due: eslint --fix, prettier --write

UX: hide redundant profile text in header; make profile showText configurable
  packages/chat2chart/client/src/components/UserProfileDropdown.tsx
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

UX: compact header, hide duplicate text, use AiserLogo component in header, profile showText configurable
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

Layout: reduce sidebar width to 220px expanded, ensure chat content flex uses remaining width and input sticky
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
  packages/chat2chart/client/src/layouts/Navigation/Navigation.tsx
Due: eslint --fix, prettier --write

UX: remove duplicate logo/text from header next to project selector
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

UI: shrink sidebar width to 200px; improve chat input minRows/minHeight and send button styling
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/layouts/Navigation/Navigation.tsx
Due: eslint --fix, prettier --write

UX: tighten header spacing and ensure profile dropdown compact near theme toggle
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

UX: group theme toggle and profile; ensure sidebar collapse icon left of project selector
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

UI: micro-tweaks: font size, primary color, compact header spacing, chat input padding
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
  packages/chat2chart/client/src/styles/globals.css
Due: none

UX: move ModeSelector out of header into chat input area; keep header minimal
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/layouts/Header/Header.tsx
Due: eslint --fix, prettier --write

UX: render ModeSelector below chat input for per-chat mode control
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
Due: eslint --fix, prettier --write

UX: keep header icons on single line; make chat input fixed-bottom and add message padding
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
  packages/chat2chart/client/src/styles/globals.css
Due: none

UX: switch chat input to sticky with safe-area support; pad messages so last entry remains visible
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
Due: none

UX: ensure chat area auto-scrolls to input and add header-height var
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/styles/globals.css
Due: eslint --fix, prettier --write

UX: fixed-bottom behavior - Jump to bottom indicator + auto-scroll tracking
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
Due: eslint --fix, prettier --write

UX: make ModeSelector sticky and inline removal of duplicate; add chat scrolling improvements
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/ChatPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/styles.css
Due: eslint --fix, prettier --write

chore: ignore Next build artifacts and temp caches
  .gitignore
  packages/chat2chart/client/.gitignore
Due: none

chore: untrack Next build artifacts from repo
  packages/chat2chart/client/src/types/next-types.d.ts
  packages/chat2chart/client/tmp/next-dev-cache/app-build-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/build-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/cache/config.json
  packages/chat2chart/client/tmp/next-dev-cache/cache/next-devtools-config.json
  packages/chat2chart/client/tmp/next-dev-cache/cache/webpack/client-development/0.pack.gz
  packages/chat2chart/client/tmp/next-dev-cache/cache/webpack/client-development/index.pack.gz
  packages/chat2chart/client/tmp/next-dev-cache/package.json
  packages/chat2chart/client/tmp/next-dev-cache/prerender-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/react-loadable-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/routes-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/server/app-paths-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/server/interception-route-rewrite-manifest.js
  packages/chat2chart/client/tmp/next-dev-cache/server/middleware-build-manifest.js
  packages/chat2chart/client/tmp/next-dev-cache/server/middleware-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/server/middleware-react-loadable-manifest.js
  packages/chat2chart/client/tmp/next-dev-cache/server/next-font-manifest.js
  packages/chat2chart/client/tmp/next-dev-cache/server/next-font-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/server/pages-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/server/server-reference-manifest.js
  packages/chat2chart/client/tmp/next-dev-cache/server/server-reference-manifest.json
  packages/chat2chart/client/tmp/next-dev-cache/static/chunks/polyfills.js
  packages/chat2chart/client/tmp/next-dev-cache/static/development/_buildManifest.js
  packages/chat2chart/client/tmp/next-dev-cache/static/development/_ssgManifest.js
  packages/chat2chart/client/tmp/next-dev-cache/trace
  packages/chat2chart/client/tmp/next-dev-cache/types/cache-life.d.ts
  packages/chat2chart/client/tmp/next-dev-cache/types/package.json
  packages/chat2chart/client/tmp/next-dev-cache/types/routes.d.ts
  packages/chat2chart/client/tmp/next-dev-cache/types/validator.ts
Due: eslint --fix, prettier --write

chore: ignore Next/.next and tmp build caches
  .gitignore
Due: none

chore: ignore Next/.next and tmp caches
  .gitignore
Due: none

chore(dash-studio): WIP commit before history cleanup
  packages/chat2chart/client/.eslintignore
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/.eslintrc.json
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/AdvancedDashboardCanvas.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/ChartWidget.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/MigratedDashboardStudio.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/SimpleDashboardStudio.tsx
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/test-charts/page.tsx
  packages/chat2chart/client/src/app/api/conversations/[id]/route.ts
  packages/chat2chart/client/src/types/next-metadata.d.ts
Due: eslint --fix, prettier --write

chore(dash-studio): tighten types for debounce and update .gitignore
  packages/chat2chart/client/src/app/(dashboard)/dash-studio/components/ChartWidget.tsx
  slib.hash import pbkdf2_sha256, bcrypt
Due: eslint --fix, prettier --write

feat: Add Langchain and sqlparse dependencies
  DOCKER_BUILD_GUIDE.md
  packages/chat2chart/server/pyproject.toml
  packages/chat2chart/server/requirements.txt
  scripts/build-chat2chart.sh
Due: prettier --write

feat: Implement Enhanced NL2SQL Agent
  packages/chat2chart/server/app/modules/ai/agents/__init__.py
  packages/chat2chart/server/app/modules/ai/agents/nl2sql_agent.py
  packages/chat2chart/server/poetry.lock
  packages/chat2chart/server/pyproject.toml
Due: black --line-length 88, isort --profile black

fix: Comprehensive fixes for message loss, data source state, and session deletion
  E2E_TEST_SCRIPT.md
  MESSAGE_LOSS_AND_STATE_FIXES.md
  packages/chat2chart/client/src/app/(dashboard)/chat/components/ChatPanel/SessionHistoryDropdown.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/components/HistoryPanel/HistoryPanel.tsx
  packages/chat2chart/client/src/app/(dashboard)/chat/page.tsx
  packages/chat2chart/server/app/modules/ai/services/langgraph_orchestrator.py
  packages/chat2chart/server/app/modules/chats/conversations/services.py
Due: eslint --fix, prettier --write, black --line-length 88, isort --profile black

docs: Add comprehensive fix summary for message loss, data source, and deletion issues
  FIX_SUMMARY.md
Due: prettier --write

docs: Add detailed status report for message loss, data source, and deletion fixes
  LATEST_FIXES_STATUS.md
Due: prettier --write

fix: Improve deep file analysis chart generation and multi-query integration
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black

docs: Add deep file analysis chart generation fix documentation
  DEEP_FILE_ANALYSIS_FIX.md
Due: prettier --write

refactor: Use unified node for chart/insights generation in deep file analysis
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black

fix: Generate multiple charts (one per query result) in deep file analysis
  packages/chat2chart/server/app/modules/ai/nodes/deep_file_analysis_node.py
Due: black --line-length 88, isort --profile black
